name: Update Developer Card

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    # schedule: [{cron: "0 16 * * *"}]
    - cron: "0 0 * * *"
jobs:
  devcard:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Update DevCard
        uses: dailydotdev/action-devcard@3.0.0
        with:
          user_id: ${{ secrets.DEVCARD_ID }}
          commit_message: "chore: update ${filename}"

      # - name: Remove Artifacts
      #  run: mv "/tmp/devcard.png" "/source/plugins/devcard.png"
